@import "tailwindcss";

@theme {
  --color-bg-primary: #F8F7F3;
  --color-bg-secondary: #FFFFFF;
  --color-bg-tertiary: #F1EFE9;
  --color-text-primary: #111111;
  --color-text-secondary: #222222;
  --color-text-muted: #555555;
  --color-accent: #C5A365;

  --font-editorial: "Marcellus", serif;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  :root {
    --bg-primary: #F8F7F3;
    --text-primary: #111111;
  }

  body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    overflow-x: hidden;
    font-family: var(--font-sans);
  }
}



/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}